
body {
  margin: 0px;
  background: url('/3d-abstract-wave-pattern-background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #040504;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TopHeader {
  width: 100%;
  min-width: 1000px;
  background: #12121486;
  color: #fff;
  text-align: center;
  font-size: 3em;
  position: relative; bottom: 10px;
  display: inline-block
}


#menudeslizable {
  display: flex;
  size: 4000px;
}
#Icarrito{
  display: flex;
  padding-left: 1300px;
}
#menu {
  margin-right: 80px; /* Espacio a la derecha del icono del menú */
}

.Menu {
  width: 250px;
  background: #eaadff;
  color: #fff;
  padding: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.Menu.visible {
  display: flex;
}

.Menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Menu li {
  margin: 10px 0;
}
#Content {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.table-data-list{
  font-family: sans-serif;
  font-size: x-large;
  color: whitesmoke;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid rgb(240, 241, 240);
  padding: 10px;
  border-radius: 5px;
  transition: .3s;
  box-shadow:0px 0px 95px 16px #70707000;
}
.hilo th{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.LoginForm {
  background: rgba(255, 255, 255, 0.514); /* Fondo blanco semi-transparente */
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 400px; 
  text-align: center; 
}

.LoginForm ul {

  padding: 1 1 0 1;
  margin: 1 1 1 1;
}

.LoginForm li {
  margin-bottom: 20px;
}

.LoginForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.LoginForm input{
  width: calc(100% - 100px); /* Ajustar ancho con margen para centrar */
  padding: 0px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Línea inferior semi-transparente */
  background-color: transparent; /* Fondo transparente */
  margin: 10px 0; /* Margen vertical para centrar */
  box-sizing: border-box; /* Ajustar tamaño con borde */
  transition: border-bottom 0.3s; /* Transición de borde */
  
  
}

.LoginForm input[type="text"]:focus,
.LoginForm input[type="password"]:focus {
  border-bottom-color: #ffffff; /* Color de línea al enfocar */
  outline: none;
}

.LoginForm input[type="submit"] {
  background: #060108;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px; /* Espacio entre el botón y los campos */
}

.LoginForm input[type="submit"]:hover {
  background: #ce91e7;
}

.NoEmptyErrors {
  color: #e74c3c;
  margin-bottom: 20px;
}

#LoginButton {
  background-color: #642111;
  color: #fff; /* Color del texto del botón */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; /* Ajuste de margen superior */
  width: 100%; /* Ancho al 100% del contenedor */
  box-sizing: border-box; /* Incluir padding y border en el ancho */
}

#LoginButton:hover {
  background-color: #8a295921;
}

#LoginButton:focus {
  outline: none;
}

#LoginButton:active {
  background-color: #dac3da;
}

#password,
#username {
  background-color: transparent;
}

#puntito {
  padding: 0;
  margin: 0;
  list-style: none; /* Oculta los puntos de la lista */
}
#mainMenu {
  text-align: center;
  list-style: none;
  color: white;
  position: absolute; top: 153px; left: 0%;
  padding-inline: 10px;
  padding: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Cambié a 100% para no superar el contenedor */
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  background: rgba(255, 0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px; /* Añade algo de espacio interno */
}
a:visited {
  border: 20px inset #786868;
  color: rgba(255, 255, 255, 0);
  text-decoration: none;
}
/* estilos about */
#imagen{
  position: relative; top: 0px; right: 0px;
}
#About{
  position: relative; top: 0px; right: 0px;
}
/* estilos login */
.fields {
  list-style: none;
  text-align: center;
  padding: 10px;
  display: inline-block
}
.fields label{
  background-color: rgba(0, 0, 0, 0.075);
  font-family: 'Roboto Medium', sans-serif;
  color: antiquewhite;

}
.form{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: antiquewhite;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 5px;
  background-color: #040504;
}
.formulariousuario{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: antiquewhite;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 5px;
  background-color: #040504;
}
